<!DOCTYPE html>
<html>

  <body>

    <main>
      <form id="sign-up" action="/_login" method="POST">
        <input type="text" name="username" value="" placeholder="Username">
        <input type="password" name="password" value="" placeholder="Password">
        <button class="btn btn-secondary" type="submit" name="button">Login</button>
      </form>
    </main>
  </body>
</html>
