<!DOCTYPE html>
<html>

<nav class="nav">
  <a href="/list">Robot Directory</a>
  <a href="/_forhire">Robots for Hire</a>
  <a href= "/_addrobots">Add Robots</a>
  <a href="/_login">Edit and Delete Robots</a>
  <a href="/_singlerobot">View a Robot</a>

</nav>
  <body>
    <div class="container">
    {{#robots}}
      {{>_search}}
    {{/robots}}
    </div>
  </body>
</html>
