<!DOCTYPE html>
<html>
<body>
  <nav class="nav">
    <h1>Click to See:</h1>
    <a href="/"><pre>All Robots</pre></a>
    <a href="/forhire"><pre>Robots for Hire</pre></a>
    <a href="/employed"><pre>Employed Robots</pre></a>
    <a href="/_forhire">Robots for Hire</a>
    <a href= "/_addrobots">Add Robots</a>
    <a href="/_login">Edit and Delete Robots</a>
    <a href="/_singlerobot">View a Robot</a>

  </nav>
  <body class="singlerobot">
  {{#employedrobots}}
  <article class="thumbnail">
    <img class="pic" src="{{avatar}}" alt="{{name}}">
    <h3>{{name}}</h3>
    {{#job}}
    <p>{{job}}, {{company}}</p>
    {{/job}}
    {{^job}}
    <p style="color: red">Employed</p>
    {{/job}}
  </article>
  {{/employedrobots}}

  </body>
</html>
